@font-face {
    font-family: "entanglement";
    src: url("fontsandimages/Entanglement.ttf");
}
@font-face {
    font-family: "bandar";
    src: url("fontsandimages/Bandar.otf");
}
@font-face {
    font-family: "arrows";
    src: url("fontsandimages/arrows.ttf");
}

body {
    background-image: url("fontsandimages/sunset-gradient.jpg"); background-size: cover;
}

/* eightball design */

#eightball {
    background-color: black;
    width: 500px;
    height: 500px;
    border: none;
    border-radius: 50%;
    margin: 0 150px;
    background: radial-gradient(circle at 100px 100px, #6e7c8d, #000);
}

#whiteCircle {
    background-color: white;
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 50%;
    transform: translate(120px, 120px);
    background: radial-gradient(circle at 50px 80px, white, rgb(85, 84, 84));
}

#numberEight {
    font-size: 180px;
    font-weight: 800;
    color: black;
    transform: translate(80px, 0px);
}

/* eightball design end*/

.output {
    margin-left: 800px;
    margin-top: -320px;
}
input {
    padding: 10px;
    border: 5px rgb(179, 28, 121) groove;
    font-family: "entanglement";
    font-weight: 800px;
}

button {
    padding: 10px;
    border-radius: 50%;
    border: #000 solid 2px;
    background: radial-gradient(circle at 100%, #ca1717, rgb(243, 221, 99));
    background-color: rgb(173, 101, 96); font-family: "arrows";
    margin-left: 10px;
    font-size: 25px;
}
#answer {
    width:400px;
    height: 40px;
    padding: 15px;
    margin-left: 750px;
    margin-top: 30px;
    background-color: aliceblue;
    font-family: "bandar";
    font-weight: 700;
    font-size: 20px;
    position: relative;
    border-radius: 25px;
}

.triangle:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid aliceblue;
    border-top: 15px solid aliceblue;
    border-bottom: 15px solid transparent;
    left: -25px;
    top: 18px;
    border-radius: 6px;
  }

.clickMe {
    transition-property: transform;
    transition-duration: 2s;    
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    transform:rotate3d(1, 1, 1, 360deg);
}

@media (max-width: 1180px) {
    #eightball {
        width: 300px;
        height: 300px;
        margin: 0 150px;
    }
    
    #whiteCircle {
        width: 150px;
        height: 150px;
        transform: translate(75px, 75px);
    }

    #numberEight {
        font-size: 100px;
        transform: translate(50px, 20px);
    }


    .output {
        margin-left: 600px;
        margin-top: -320px;
    }
    button {
        margin-left: 10px;
        font-size: 25px;
    }
    #answer {
        width:400px;
        height: 40px;
        margin-left: 550px;
        margin-top: 30px;
        font-size: 20px;
    }
}

@media (max-width: 990px) {
     .output {
        margin-left: 450px;
        margin-top: -320px;
    }
    button {
        margin-left: 10px;
        font-size: 25px;
    }
    #answer {
        width:330px;
        height: 40px;
        margin-left: 420px;
        margin-top: 30px;
        font-size: 15px;
    } 

    #eightball {
        margin: 0 50px;
    }
}

@media (max-width: 790px) {
    .output {
        margin-left: 50px;
        margin-top: 30px;
    }
    button {
        margin-left: 10px;
        font-size: 25px;
    }
    #answer {
        width:330px;
        height: 40px;
        margin-left: 30px;
        margin-top: 30px;
        font-size: 15px;
    } 

    .triangle:before {
        position: absolute;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid transparent;
        border-bottom: 15px solid aliceblue;
        left: 40%;
        top: -28px;
      }
}


@media (max-width: 405px) {
    #answer {
        width:230px;
    }
    #eightball {
        margin: 0 20px;
    }
    .output {
        margin-left: 30px;
      
    }
    button {
        margin-left: 10px;
        font-size: 20px;
        padding: 5px;
    }
}


@media (max-width: 345px) {
    #eightball {
        width: 250px;
        height: 250px;
        margin: 0 5px;
    }
    #answer {
        width:200px;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    #whiteCircle {
        width: 100px;
        height: 100px;
        transform: translate(75px, 75px);
    }

    #numberEight {
        font-size: 70px;
        transform: translate(30px, 10px);
    }

    button {
        margin-left: 180px;
        margin-top: 10px;
        font-size: 15px;
        
    }

    input {
        padding: 10px;
        border: 5px rgb(179, 28, 121) groove;
        font-family: "entanglement";
        width: 200px;
        font-size: 10px;
        
        font-weight: 600px;
    }

    .output {
        margin-left: 20px;}
      
}